@charset "utf-8";
* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: "맑은 고딕";
    color: #333;
}

body {
    width: 1600px;
    font-size: 26px;
    height: 1000px;
    background-color: azure;
}

a {
    text-decoration: none;
    display: block;
}
header {
    height: 266px;
    width: 1600px;
}
.block{
    height: 66px;
    width: auto;
    background-color: #30a3f3
}
.top {
    height: 266px;
    width: 1600px;
}
.home {
    float: right;
    font-size: 13px;
    font-weight: bold;
}

.home>li {
    float: left;
    margin-right: 50px;
}
.home>li>a{
    margin-top: 10px;
    float: center;
    text-align: center;
    word-spacing: 10px;
}
.logo {
    float: left;
    height: 133px;
    width: 660px;
}

.logo img {
    float: left;
    height: 105px;
    width: 400px;
    margin-top: 10px;
    margin-left: 10%;
}

.menu {
    float: right;
    height: 130px;
    width: 1300px;
    z-index: 1;
    
}

.nav {
    float: right;
    margin-top: 0px;
    margin-right: 10px;
}

.nav>li {
    float: left; 
}

.nav>li>a {
    height: 53px;
    width: 160px;
    line-height: 40px;
    font-size: 21px;
    font-weight:bold;
    text-align: center;
    background-color: #fff;
    color: #000;
}


.nav>li:hover .submenu{
    opacity: 1;
    display: inline;
}
.submenu {
    width: 160px;
    position: absolute;
    display: none;
    z-index: 1;
}

.submenu>li>a {
    height: 47px;
    line-height: 47px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: #fff;
    color: #000;
}

.submenu>li>a:hover {
    background-color: #30a3f3;
}

.login {
    margin-top: 100px;
    width: 1050px;
    height: 1050px;
    background-color: white;
    border: 3px solid black;
}
.login>h1{
    margin-top: 50px;
    text-align: center;
}
form {
    width: 400px;
    text-align: center;
}
button {
    width: 130px;
    margin: 20px;
}
.login h1{
    margin-top: 150px;
    margin-bottom: 50px;
    width: 400px;
    background-color: darkblue;
    color: white;
}
#userId {
    margin-top: 20px;
    margin-bottom: 20px;
}
#userPw{
    margin-top: 20px;
    margin-bottom: 20px;
}
.form2{
    display: block;
    width: 266px;
    height: 45px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form2:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  }
  .btn{
    color: #fff;
    background-color: darkblue;
    border-color: darkblue;
    width: 266px;
    height: 66px;
    cursor: pointer;
}
.btn:hover{
    color: #fff;
    background-color: blue;
    border-color: blue;
}
.memberLink {
    text-align: center;
}
.join {
    margin-top: 10px;
    border: 1px solid black;
    width: 340px;
    background-color: darkblue;
    color: white;
}
.join:hover{
    color: white;
    background-color: blue;
    border-color: blue;
}
.find {
    margin-top: 10px;
    border: 1px solid black;
    width: 340px;
    background-color: darkblue;
    color: white;
}
.find:hover{
    color: white;
    background-color: blue;
    border-color: blue;
}
.fb {
    margin-top: 10px;
    border: 1px solid skyblue;
    width: 340px;
    height: 53px;
    text-align: center;
    line-height: 35px;
    background-color: skyblue;
    color: white;
}
.fb:hover{
    color: white;
    background-color: blue;
    border-color: blue;
}.gg {
    margin-top: 10px;
    border: 1px solid black;
    width: 340px;
    height: 53px;
    text-align: center;
    line-height: 35px;
    background-color: white;
    color: black;
}
.gg:hover{
    color: white;
    background-color: blue;
    border-color: blue;
}
.ka{
    margin-top: 10px;
}
.ka img{
    width: 340px;
    height: 53px;
}
.na {
    margin-top: 10px;
}
.na img {
    width: 340px;
    height: 53px;
}

footer {
    margin-top: 100px;
    clear: both;
    height: 266px;
    width: 1600px;
    position: absolute;
}
.site {
    float: left;
    height: 200px;
    width: 1600px;
}

.btmenu {
    float:right;
    height: 200px;
    width: 533px;
    text-align:center;   
    font-size:24px;      
	line-height:30px;  
}

.btmenu li{
    margin-top:10px;
    display:inline-block;
    width:266px;
    border: 1px black solid;
}

.btmenu li:hover{
    font-weight:bold;
}
.bt{
    height: 200px;
    width: 533px;
    font-size: 20px;
    line-height:15px;
}
.logo2 {
    float:left;
    height: 106px;
    width: 400px;
}
.logo2 img {
    float: left;
    height: 106px;
    width: 400px;
    margin-top: 10px;
}
.copy {
    float: left;
    height: 66px;
    width: 1600px;
    text-align:left;
	font-size:21px;     
}
