@charset "utf-8";
* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: "맑은 고딕";
    color: #333;
}

body {
    width: 1200px;
    font-size: 20px;
    height: 100%;
    background-color: azure;
}

a {
    text-decoration: none;
    display: block;
}
header {
    height: 100px;
    width: 1200px;
    position: sticky;
    top: -11%;
    z-index: 99;
    background-color: azure;
}
.block{
    margin-top: 100px;
    height: 50px;
    width: auto;
    background-color: #30a3f3
}
.top {
    height: 100px;
    width: 1200px;
}
.home {
    float: right;
    font-size: 13px;
    font-weight: bold;
}

.home>li {
    float: left;
    margin-right: 50px;
}
.home>li>a{
    margin-top: 10px;
    float: center;
    text-align: center;
    word-spacing: 10px;
}
.logo {
    float: left;
    height: 100px;
    width: 500px;
}

.logo img {
    float: left;
    height: 80px;
    width: 300px;
    margin-top: 10px;
}

.menu {
    float: right;
    height: 150px;
    width: 1200px;
    z-index: 1;
    
}
.nav {
    background-color: #fff;
    width: 100%;
    float: right;
}

.nav>li {
    float: left; 
}

.nav>li>a {
    height: 40px;
    width: 200px;
    line-height: 40px;
    font-size: 16px;
    font-weight:bold;
    text-align: center;
    background-color: #fff;
    color: #000;
}


.nav>li:hover .submenu{
    opacity: 1;
    display: inline;
}
.submenu {
    border-top: solid 1px blue;
    width: 200px;
    position: absolute;
    display: none;
    z-index: 1;
}

.submenu>li>a {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background-color: #fff;
    color: #000;
}

.submenu>li>a:hover {
    background-color: skyblue;
}
section {
    margin-top: 100px;
    width: 1200px;
    height: 3600px;
}

.switch {
    float: right;
    height: 200px;
    width: 1200px;
}
.switch h1{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}
.sw {
    margin-top: 50px;
    background-color: #fff;
    width: 100%;
    float: right;

}

.sw>li {
    float: left; 
}

.sw>li>a {
    height: 40px;
    width: 200px;
    line-height: 40px;
    font-size: 16px;
    font-weight:bold;
    text-align: center;
    color: #000;
}
.sw>li>a:hover{
    opacity: 0.5;
}
.sw>li>a:focus{
    font-size: 18px;
    opacity: 1.0;
    text-decoration: underline;
}
.switch p{
    float: right;
    font-size: 8px;
    margin-top: 3px;
}
.contents {
    margin-top: 100px;
    float: left;
    height: 800px;
    width: 1200px;
    position: relative;
}
.otherwrap {
    clear: both;
    height: 400px;
    width: 1200px;
}
.sale {
    float: left;
    height: 300px;
    width: 400px;
    margin: auto;
}

.sale img {
    margin-left: 70px;
    float: left;
    height: 200px;
    width: 250px;
}

.sale img:hover {
    opacity: 0.5;
}

.sale pre {
    text-align: left;
    float: left;
    width: 400px;
    font-size: 15px;
}
.sale pre h4 {
    text-align: left;
    width: 260px;
    
}
.sale pre a:hover{
    opacity: 0.5;
}

.page{
    text-align: center;
    width: 50%;
}
.pg{
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 20px;
}
.pg li{
    display: inline;
    text-align: center;
}
.pg a{
    float: left;
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 12px;
    color: #000;
    line-height: 1.5;
    font-weight: bold;
}

.first{
    margin-right: 15px;
}
.last{
    margin-left: 15px;
}
.first:hover, .last:hover, .left:hover, .right:hover{
    color: #2e9cdf;
}

.pg a:active{
    outline: none;
}
.pg .num{
    margin-left: 3px;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 100%;
}
.pg .num:hover{
    background-color: #2e9cdf;
    color: #fff;
}

.arrow-left{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid blue;
}
footer {
    margin-top: 100px;
    clear: both;
    height: 200px;
    width: 1200px;
    position: absolute;
}
.site {
    float: left;
    height: 150px;
    width: 1200px;
}

.btmenu {
    float:right;
    height: 150px;
    width: 400px;
    text-align:center;   
    font-size:18px;      
	line-height:30px;  
}

.btmenu li{
    margin-top:10px;
    display:inline-block;
    width:200px;
    border: 1px black solid;
}

.btmenu li:hover{
    font-weight:bold;
}
.bt{
    height: 150px;
    width: 400px;
    font-size: 15px;
    line-height:15px;
}
.logo2 {
    float:left;
    height: 80px;
    width: 300px;
}
.logo2 img {
    float: left;
    height: 80px;
    width: 300px;
    margin-top: 10px;
}
.copy {
    float: left;
    height: 50px;
    width: 1200px;
    text-align:left;
	font-size:16px;     
}
#tothetop { 
    position: fixed;
    bottom: 5rem; 
    right: 1rem; 
    cursor: pointer;
}
#tothebottom { 
    position: fixed;
    bottom: 1rem; 
    right: 1rem; 
    cursor: pointer;
}