@charset "utf-8";
* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: "맑은 고딕";
    color: #333;
}

body {
    width: 1200px;
    font-size: 20px;
    height: 1000px;
    background-color: azure;
}

a {
    text-decoration: none;
    display: block;
}
header {
    height: 200px;
    width: 1200px;
}
.block{
    height: 50px;
    width: auto;
    background-color: #30a3f3
}
.top {
    height: 200px;
    width: 1200px;
}
.home {
    float: right;
    font-size: 13px;
    font-weight: bold;
}

.home>li {
    float: left;
    margin-right: 50px;
}
.home>li>a{
    margin-top: 10px;
    float: center;
    text-align: center;
    word-spacing: 10px;
}
.logo {
    float: left;
    height: 100px;
    width: 500px;
}

.logo img {
    float: left;
    height: 80px;
    width: 300px;
    margin-top: 10px;
}

.menu {
    float: right;
    height: 150px;
    width: 1200px;
    z-index: 1;
    
}

.nav {
    background-color: #fff;
    width: 100%;
    float: right;
    position:sticky;
    top:0;
}

.nav>li {
    float: left; 
}

.nav>li>a {
    height: 40px;
    width: 200px;
    line-height: 40px;
    font-size: 16px;
    font-weight:bold;
    text-align: center;
    background-color: #fff;
    color: #000;
}


.nav>li:hover .submenu{
    opacity: 1;
    display: inline;
}
.submenu {
    border-top: solid 1px blue;
    width: 200px;
    position: absolute;
    display: none;
    z-index: 1;
}

.submenu>li>a {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background-color: #fff;
    color: #000;
}

.submenu>li>a:hover {
    background-color: skyblue;
}












footer {
    margin-top: 100px;
    clear: both;
    height: 200px;
    width: 1200px;
    position: absolute;
}
.site {
    float: left;
    height: 150px;
    width: 1200px;
}

.btmenu {
    float:right;
    height: 150px;
    width: 400px;
    text-align:center;   
    font-size:18px;      
	line-height:30px;  
}

.btmenu li{
    margin-top:10px;
    display:inline-block;
    width:200px;
    border: 1px black solid;
}

.btmenu li:hover{
    font-weight:bold;
}
.bt{
    height: 150px;
    width: 400px;
    font-size: 15px;
    line-height:15px;
}
.logo2 {
    float:left;
    height: 80px;
    width: 300px;
}
.logo2 img {
    float: left;
    height: 80px;
    width: 300px;
    margin-top: 10px;
}
.copy {
    float: left;
    height: 50px;
    width: 1200px;
    text-align:left;
	font-size:16px;     
}
